# Weather Data

# Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset

In [14]:
weather_Q1 = pd.read_csv("C:\Alhamd\Belgium Study Material\Modern Data Analytics\Weather Data\dataverse_files (1)\LC_2022Q1.csv")
weather_Q1.head()
weather_Q1.shape

(1270080, 21)

In [15]:
weather_Q2 = pd.read_csv("C:\Alhamd\Belgium Study Material\Modern Data Analytics\Weather Data\dataverse_files (1)\LC_2022Q2.csv")
weather_Q2.head()
weather_Q2.shape

(1415232, 21)

In [13]:
weather_Q3 = pd.read_csv("C:\Alhamd\Belgium Study Material\Modern Data Analytics\Weather Data\dataverse_files (1)\LC_2022Q3.csv")
weather_Q3.head()
weather_Q3.shape

(1430784, 21)

In [29]:
weather_Q4 = pd.read_csv("C:\Alhamd\Belgium Study Material\Modern Data Analytics\Weather Data\dataverse_files (1)\LC_2022Q4.csv")
weather_Q4.head()
weather_Q4.shape
weather_Q4.tail()

,DATEUTC,ID,LC_HUMIDITY,LC_DWPTEMP,LC_n,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,...,Year,Month,Day,Hour,Minute,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
1430779,2022-12-31 23:20:00,LC-138,50.0,6.05,32.0,0.0,0.0,0.0,-49.0,0.67,...,2022,12,31,23,20,0.0,16.51,16.51,16.76,16.76285
1430780,2022-12-31 23:30:00,LC-138,50.0,6.00,32.0,0.0,0.0,0.0,-65.0,1.39,...,2022,12,31,23,30,0.0,16.48,16.48,16.73,16.70722
1430781,2022-12-31 23:40:00,LC-138,50.0,5.90,31.0,0.0,0.0,0.0,-41.0,1.25,...,2022,12,31,23,40,0.0,16.37,16.37,16.62,16.60001
1430782,2022-12-31 23:50:00,LC-138,50.0,5.89,32.0,0.0,0.0,0.0,-51.0,1.22,...,2022,12,31,23,50,0.0,16.27,16.27,16.52,16.50053
1430783,2023-01-01 00:00:00,LC-138,50.0,5.78,31.0,0.0,0.0,0.0,-53.0,1.08,...,2023,1,1,0,0,0.0,16.18,16.18,16.43,16.37461

# Joining the Data

In [28]:
full_data_weather = pd.concat([weather_Q1, weather_Q2, weather_Q3, weather_Q4],ignore_index=False, keys=['Q1','Q2','Q3', 'Q4'])
full_data_weather_2022 = full_data_weather.drop(full_data_weather.index[-1])
full_data_weather_2022.shape
full_data_weather_2022.head()
full_data_weather_2022.tail()

                        DATEUTC      ID  LC_HUMIDITY  LC_DWPTEMP  LC_n  \
Q4 1430778  2022-12-31 23:10:00  LC-138         50.0        6.16  32.0
   1430779  2022-12-31 23:20:00  LC-138         50.0        6.05  32.0
   1430780  2022-12-31 23:30:00  LC-138         50.0        6.00  32.0
   1430781  2022-12-31 23:40:00  LC-138         50.0        5.90  31.0
   1430782  2022-12-31 23:50:00  LC-138         50.0        5.89  32.0

            LC_RAD  LC_RAININ  LC_DAILYRAIN  LC_WINDDIR  LC_WINDSPEED  ...  \
Q4 1430778     0.0        0.0         0.002       -62.0          1.37  ...
   1430779     0.0        0.0         0.000       -49.0          0.67  ...
   1430780     0.0        0.0         0.000       -65.0          1.39  ...
   1430781     0.0        0.0         0.000       -41.0          1.25  ...
   1430782     0.0        0.0         0.000       -51.0          1.22  ...

            Year  Month  Day  Hour  Minute  LC_RAD60  LC_TEMP_QCL0  \
Q4 1430778  2022     12   31    23      10       0.0         16.56
   1430779  2022     12   31    23      20       0.0         16.51
   1430780  2022     12   31    23      30       0.0         16.48
   1430781  2022     12   31    23      40       0.0         16.37
   1430782  2022     12   31    23      50       0.0         16.27

            LC_TEMP_QCL1  LC_TEMP_QCL2  LC_TEMP_QCL3
Q4 1430778         16.56         16.81      16.77703
   1430779         16.51         16.76      16.76285
   1430780         16.48         16.73      16.70722
   1430781         16.37         16.62      16.60001
   1430782         16.27         16.52      16.50053

[5 rows x 21 columns]

In [16]:
1430784 + 1430784 + 1415232 + 1270080

5546880